$boton-c: (
        height: 40px,
        width: 150px,
        margin-left: 65px,
        border-radius: 15px,

);
$botonini: (
        ancho: 200px,
        alto: 35px,
        color1: #000000,
        color2: white,
        
        font-size: large,
        font-weight: bold,
        );